.sidebar {
    position: relative;
    width: 250px;
    padding: var(--gap-20) var(--gap-12);
    border-right: solid 1px var(--color-secondary);
    transition: width 0.3s;
}

.collapsed {
    width: 65px;

    & .link-container {
        align-items: center;
    }
}

.primary {
    background: var(--bg-primary);
}

.secondary {
    background: var(--bg-secondary);
}

.inverted-primary {
    background: var(--bg-inverted-primary);
}

.inverted-secondary {
    background: var(--bg-inverted-secondary);
}

.link-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-12);
}

.cell-container {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: var(--gap-12);
}
