:root {
    /** Параметры шрифта */
    --font-family-main: "Segoe UI", "Roboto", "Helvetica", "Ubuntu", "Cantarell",
        arial, sans-serif;
    --font-size-m: 16px;
    --font-line-m: 24px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
    --font-size-l: 24px;
    --font-line-l: 32px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

    /** Отступы */
    --gap-0: 0;
    --gap-2: 2px;
    --gap-4: 4px;
    --gap-8: 8px;
    --gap-12: 12px;
    --gap-16: 16px;
    --gap-20: 20px;
    --gap-24: 24px;
    --gap-28: 28px;
    --gap-32: 32px;
    --gap-36: 36px;
    --gap-40: 40px;
    --gap-44: 44px;
    --gap-48: 48px;
    --gap-52: 52px;
    --gap-56: 56px;
    --gap-60: 60px;
    --gap-64: 64px;
    --gap-68: 68px;
    --gap-72: 72px;
    --gap-80: 80px;

    /** Общие цвета */
    --common-blue: #428fdc;
    --common-yellow: #f1e05a;
    --common-green: #2da160;
    --common-white: #fff;

    /** Z-индексы */
    --z-10: 10;
}
