@import "@shared/styles/view/bg-view";

.sidebar {
    width: 300px;
    height: 100vh;
    padding: var(--gap-20) var(--gap-12);
    border-right: solid 1px var(--color-secondary);
    transition: width 0.3s;
}

.collapsed {
    width: 80px;
}
