@import "@shared/styles/view/bg-view";

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: var(--gap-12) var(--gap-20);
}

.links-container {
    display: flex;
    gap: var(--gap-12);
}
