@import "@shared/styles/vars/global.css";

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: var(--gap-12) var(--gap-20);
}

.primary {
    background: var(--bg-primary);
}

.secondary {
    background: var(--bg-secondary);
}

.inverted-primary {
    background: var(--bg-inverted-primary);
}

.inverted-secondary {
    background: var(--bg-inverted-secondary);
}

.links-container {
    display: flex;
    gap: var(--gap-12);
}
