@import "@shared/styles/view/bg-view";

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: var(--gap-12) var(--gap-20);
    border-bottom: solid 1px var(--color-secondary);
}

.navbar-container {
    display: flex;
    align-items: center;
    gap: var(--gap-12);
}
