@import "@shared/styles/themes/dark.css";
@import "@shared/styles/themes/light.css";
@import "./reset.css";

body {
    background: var(--bg-primary);
    color: var(--color-primary);
    font: var(--font-m);
}

.app {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: var(--bg-primary);
    color: var(--color-primary);
    font: var(--font-m);
}

.content-page {
    display: flex;
    flex-grow: 1;
    align-items: stretch;
}

.page-wrapper {
    flex-grow: 1;
    padding: var(--gap-20);
}
