@import "@shared/styles/vars/global.css";
@import "@shared/styles/themes/dark.css";
@import "@shared/styles/themes/light.css";
@import "./reset.css";

.app {
    min-height: 100vh;
    background: var(--bg-primary);
    color: var(--color-primary);
    font: var(--font-m);
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: var(--gap-20);
}
