@import "../vars/global.css";

:root,
.light {
    /** Цвет бэкграунда */
    --bg-primary: var(--common-white);
    --bg-secondary: #f0f0f0;
    --bg-inverted-primary: #1f1f1f;
    --bg-inverted-secondary: #303030;

    /** Цвет текста */
    --color-primary: #0b1f35;
    --color-secondary: #0b1f35b3;
    --color-inverted-primary: var(--common-white);
    --color-inverted-secondary: #fff6;

    /** Цвета состояний */
    --color-danger: var(--common-red);
    --color-warning: var(--common-yellow);
    --color-success: var(--common-green);
}
